extends layout
block title

    title  Resume  | Philip Procházka

block content

    - const isHome = true
//- Page Content
//- Include templates\about 
//- Include templates\education 
//- Include templates\skills 
//- Include templates\experience 
//- Include templates\interest 
 