// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$purple: #36013f;

// Override Bootstrap default state colors

$color-primary: $purple;
